@import "tailwindcss";

:root {
  --background: #f0f0f0;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-tight), sans-serif;
  --font-mono: var(--font-inter-tight), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f0f0f0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-tight), sans-serif;
}
.text-color {
  color: #000000;
}

.outline-btn {
  position: relative;
  cursor: pointer;
}

.outline-btn::before {
  content: "";
  position: absolute;
  inset: -6px;
  border: 2px solid #8d8d8d;
  pointer-events: none;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 35%,
    96% 35%,
    96% 65%,
    100% 65%,
    100% 100%,
    0 100%,
    0 65%,
    4% 65%,
    4% 35%,
    0 35%
  );
}

.outline-btn:hover,
.outline-btn:active {
  transform: none;
}
